.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: black;
}

.content-box {
  width: 150px;
  height: 150px;
  background-color: green;
  position: absolute;
  bottom: 0;
  right: 0;
}

.content-box_little {
  width: 80px;
  height: 80px;
  background-color: yellow;
  position: absolute;
  right: 0;
  bottom: 0;
}
